<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az-204-durablefunctionappdemo21sept24.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c2688107-6fd7-43e0-abff-d25635ec1605/resourcegroups/Azure-Srikant-rg/providers/Microsoft.Web/sites/az-204-DurableFunctionAppDemo21sept24</ResourceId>
    <UserName>$az-204-DurableFunctionAppDemo21sept24</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az-204-durablefunctionappdemo21sept24.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>